<h1 class="card-title">Ask a question</h1>
<p>Type something to ask your coach:</p>
<form action="/answer" method="get" class="form-inline">
  <div class="form-group">
    <input type="text" name="question" placeholder="Type a question..." class="form-control form-control-lg">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
